:root {
    --main-bg-color: white;
    --main-color: black;
    --border-color: red;

}

body {
    /* Display & Box Model */
    margin: 0px;
    padding: 0px;
    /*position: relative;*/

    /* Color */
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.header {
    position: relative;
    border: var(--main-color) solid 1px;
    height: auto;
    margin: 24px 1.5%;
    clear: both;
    overflow: auto;
}

.header__logo {
    position: relative;
    border: var(--border-color) solid 1px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0px 1.5%;
}

.header__menu {
    position: relative;
    border: var(--border-color) solid 1px;
    width: 200px;
    height: 400px;
    margin: 0px 1.5%;
    clear: both;
}

.main {
    border: var(--main-color) solid 1px;
    height: 600px;
    margin: 24px 1.5%;
    clear: both;
}

.footer {
    border: var(--main-color) solid 1px;
    height: 100px;
    margin: 24px 1.5% 0px 1.5%;
    clear: both;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@media screen and (min-width: 1281px) {
    .header {
        float: left;
        /*height: 400px;*/
        width: 20%;
        clear: none;
    }

    .main {
        float: right;
        height: 600px;
        width: 74%;
        clear: none;
    }
}

@media screen and (max-width: 1281px) and (min-width: 992px) {

}

@media screen and (max-width: 992px) and (min-width: 768px) {

}

@media screen and (max-width: 768px) {

}
